@use '../../../css/variables' as *;

.footer-text {
    text-align: center;
    color: $text-secondary;
    font-weight: bold;
    font-family: "Google Sans Regular";
}

.footer-div {
    margin-top: 4rem;
}