<div class="header h-auto flex align-center justify-between gap-8" data-aos="fade-down">

    <div class="w-[80%] lg:w-fit flex align-center justify-center">

        <div class="logo-name-container">
            <a href="/">
                @if(theme.isDarkMode() ){
                <img src="assets/images/logo-dark.png" alt="Morris Development Logo">
                }@else{
                <img src="assets/images/logo-light.jpg" alt="Morris Development Logo">
                }
            </a>
        </div>

    </div>

    <button class="block lg:hidden" type="button" (click)="toggleNavbar()"> 
        <i class="text-2xl fa-solid fa-bars text-gray-800 dark:text-gray-100"></i>
    </button>

    <div class="hidden lg:block grow">
        <ul class="menu  ">
            @for (l of linksData; track $index) {
            @if (l.isVisible) {
            <li>
                @if (l.isExternalLink) {
                <a [href]="l.routeURLName" target="_blank" [routerLinkActive]="['font-bold']"
                    [routerLinkActiveOptions]="{exact: true}" [title]="l.routeTooltipValue ?? l.routeLinkText">
                    {{ l.routeLinkText }}
                </a>
                }
                @else {
                <a [routerLink]="l.routeURLName" [routerLinkActive]="['font-bold']"
                    [routerLinkActiveOptions]="{exact: true}" [title]="l.routeTooltipValue ?? l.routeLinkText">
                    {{ l.routeLinkText }}
                </a>
                }
            </li>
            }
            }
        </ul>
    </div>

    <div class="h-full hidden lg:block">
        <button class="general-button dark:text-gray-100" type="button" (click)="theme.toggleTheme()">
            @if(!theme.isDarkMode() ){
            <i class="fa-solid fa-moon"></i>
            Dark Mode
            }@else{
            <i class="fa-solid fa-sun"></i>
            Light Mode
            }


        </button>
    </div>


</div>

@if (navbarOpen) {
<div [@menuOpenCloseHeightAnimation] class="block lg:hidden">
    <ul class="menu small">
        @for (l of linksData; track $index) {
        @if (l.isVisible) {
        <li>
            @if (l.isExternalLink) {
            <a [href]="l.routeURLName" target="_blank" [routerLinkActive]="['font-bold']"
                [routerLinkActiveOptions]="{exact: true}" [title]="l.routeTooltipValue ?? l.routeLinkText">{{
                l.routeLinkText }}</a>
            }
            @else {
            <a class="dark:text-gray-100" [routerLink]="l.routeURLName" [routerLinkActive]="['font-bold']"
                [routerLinkActiveOptions]="{exact: true}" [title]="l.routeTooltipValue ?? l.routeLinkText">{{
                l.routeLinkText }}</a>
            }
        </li>
        }
        }
        <!-- <li>
                <button 
                    class="mx-auto general-button"
                    type="button"
                    (click)="resumeDownload()">
                    Resume
                    <i class="fa-solid fa-download"></i>
                </button>                
            </li> -->
    </ul>
</div>
}