@if(article){


<div class="article-main">
     <div class="basic-article">
          <div style="float: right; margin-top: 100px; margin-right: 10px;">
                    <a 
                        href="assets/data/markdown.md" 
                        [download]="articlePath"
                        class="px-4 py-2  dark: text-gray-100 rounded hover:bg-blue-600">
                        <i class="fa-solid fa-download"></i> Download Markdown
                        </a>
               </div>
        <div class="article-heading-div" >
       

            <div class="article-heading-text-div" data-aos="fade-up">
                
                <h1 class="article-heading-text">
                    
                    {{ article.title }}
                </h1>

                @if (article.subtitle) {
                <p class="article-header-detail-text subTitle">
                    {{ article.subtitle }}
                </p>   }
             
            </div>
        </div>
    </div>
 

</div>
 

<markdown class="markdown-body" [attr.data-color-mode]="theme.isDarkMode() ? 'dark' : 'light'"
  [src]="articlePath"
  (load)="onLoad($event)"
  (error)="onError($event)">
</markdown>

} 
  