<div class="experience-main">
    <div class="basic-experience">
        <div class="experience-heading-text-div self-start" data-aos="fade-left">
            <h1 class="experience-heading-text">
                {{ appConfig.experiencePageTitle }}
            </h1>

        </div>
        <p class="experience-header-detail-text subTitle">
            Our library consistes of articles we wrote as well as those we refer to for instruction. We keep
            them in a Qdrant Vector Database so they
            can be searched with natural language searches and we have OpenAI translate the results for us.
        </p>
        <div class="experience-heading-div">

            <div class="experience-heading-img-div  " data-aos="fade-right">



                <div class="w-[90%] p-5 ">

                    <div class="flex gap-4">

                        <input id="name" type="text" [(ngModel)]="searchText" class="flex-1 block rounded-xl border border-gray-300
                  bg-white px-3 py-2 text-sm text-gray-900 shadow-sm
                  focus:border-blue-500 focus:ring-2 focus:ring-blue-500/40
                  dark:bg-slate-900 dark:border-slate-700 dark:text-gray-100
                  dark:focus:border-blue-400 dark:focus:ring-blue-400/40"
                            placeholder="eg. How do I set up a vector database" />

                        <button type="button" (click)="search()" class="px-4 py-2 rounded-xl bg-blue-500 text-white text-sm font-medium
                   hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500/40
                   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-400/40
                   whitespace-nowrap">
                            Search
                        </button>
                    </div>


                </div>


            </div>

        </div>
        @if(searching){


        <div class="flex-1 block   border border-gray-300 text-left
                  bg-white px-3 py-2 text-sm text-gray-900 shadow-sm
                  focus:border-blue-500 focus:ring-2 focus:ring-blue-500/40
                  dark:bg-slate-900 dark:border-slate-700 dark:text-gray-100
                  dark:focus:border-blue-400 dark:focus:ring-blue-400/40">
            Searching Approved Resources....

        </div>

        <app-loading-bar></app-loading-bar>
        }

        @if(showResponse){
        <div class="flex-1 block   border border-gray-300 text-left
                  bg-white px-3 py-2 text-sm text-gray-900 shadow-sm
                  focus:border-blue-500 focus:ring-2 focus:ring-blue-500/40
                  dark:bg-slate-900 dark:border-slate-700 dark:text-gray-100
                  dark:focus:border-blue-400 dark:focus:ring-blue-400/40">
            These are articles from reputable resources that should help you find the answers you see.

        </div>
        }
 
        @for (article of articles;track $index){
            <app-article-card [article]="article" ></app-article-card>
        }

        @for (exps of appConfig.experienceSections; track $index) {

        <div class="section-heading-text-div" data-aos="fade-up">
            <h1 class="section-heading-text">
                {{ exps.experienceSectionTitle }}
            </h1>

            <p class="section-header-detail-text">
                {{ exps.experienceSectionSubtitle }}
            </p>
        </div>

        <div class="experience-cards-div-main">

            @for (exp of exps.experiences; track $index) {
            <app-experience-card [experience]="exp" class="w-full"></app-experience-card>
            
            }

        </div>

        }

    </div>