$background-light: #ffffff;
$background-dark:#090A0E;// #121212;
$theme-secondary: rgb(224, 227, 231);


$background-secondary-light: #e9ecef;

$font-color-light: #212529;


$theme-blue: #001c55;

$text-secondary: #868e96;
$theme-secondary: rgb(183, 191, 206);

$theme-blue-dark: #a3c8f0;
$theme-secondary-dark: rgb(224, 227, 231);
$font-color-dark: #f1f1f1;
$background-secondary-dark: #1e1e1e;
$text-secondary-dark: #c7c9cc;

