@use '/css/variables' as *;

#topButton {
    visibility: hidden;
    position: fixed;
    bottom: 2.5rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    color: white;
    outline: none;
    border-radius: 100%;
    font-size: 1.5rem;
    background-color: $theme-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;


}

#topButton:hover {
    transform: scale(1.1);
}

@media (max-width: 420px) {
    #topButton {
        bottom: 4.5rem;
    }
}